.recommendation-wrapper {
    width: 100%;
	min-height: 90dvh;
	height: 100%;
	background-image: url('/StockCake-antique-library.webp');
    background-blend-mode: darken;
	@include background-cover;
	@include center-flex;
	@include page-padding;
}