.home-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    main {
        position: relative;
        flex-grow: 1;
        display: flex;
    }
    footer {
        position: relative;
    }
}

.app-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    main {
        position: relative;
        flex-grow: 1;
        display: flex;
    }
    footer {
        position: fixed;
        bottom: 0;
    }

}


