@use '../variables' as *;
@use '../mixins' as *;
@use '../base' as *;

.quiz-start {
	background-color: rgba(white, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 6rem;

	h2 {
		padding-block: 1rem;
	}
    
	.start-button {
		align-self: flex-end;
		@include CTAbutton-style(
			$navy-color,
			transparent,
			$darker-navy-color,
			black,
			$light-color,
			$gold-color
		);
	}
}
.quiz-wrapper {
	background-color: rgba($light-color, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 3rem;

	.question-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
		
        h3 {
			color: $navy-color;
		}

		li {
            padding-block-end: 1rem;
		}

		input {
            margin-right: 0.5rem;
		}

        label {
            cursor: pointer;
            padding: 0.5rem;
        }

        .button-wrapper {
            display: flex;
            gap: 1rem;
            //align-self: flex-end;
        }

		.next-button {
			@include button-style(
				$red-color,
				$light-color,
				$lighter-red-color,
				black
			);
		}
		.back-button {
			@include button-style(
				$light-color,
				$red-color,
				$darker-light-color,
				black
			);
		}
		.submit-button {
			@include button-style(
				$navy-color,
				$gold-color,
				$darker-navy-color,
				black
			);
		}

		p {
			align-self: flex-end;
		}
	}
}
