$red-color: #58061b;
$navy-color: #01274d;
$gold-color: #d4af37;
$light-color: #f3e5ab;

$darker-navy-color: #012243;
$darker-light-color: #f8e494;
$lighter-red-color: #680e25;

$background-light: rgba($light-color, 0.5);
$background-white: rgba(white, 0.5);
